force-app/main/default/flows/Add_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add to collection</label>
        <locationX>550</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SingleTagValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleTagFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TagsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTagValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>418</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedTags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckAssigned</name>
        <label>CheckAnyAssignedTag</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TempAssignedTags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_tags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update</name>
        <label>Reset selected tag values</label>
        <locationX>550</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SelectedTags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateSelectedTagValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>If_blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_tags</name>
        <label>Any tags</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>AssignValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAnySelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_blank</name>
        <label>If blank</label>
        <locationX>418</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTags</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Tags</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>tagsSelectList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Tag__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IsAnySelected</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!Tags}),ISBLANK({!TempAssignedTags}))</expression>
    </formulas>
    <formulas>
        <name>SingleTagFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!SelectedTags} , FIND(&quot;;&quot;,  {!SelectedTags} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UpdateSelectedTagValues</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE( {!SelectedTags} ,  {!SingleTagValue}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>Add Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Link</label>
    <loops>
        <name>Insert_Tags</name>
        <label>Insert Tags</label>
        <locationX>286</locationX>
        <locationY>878</locationY>
        <collectionReference>TagsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Tag_Associtation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Link</name>
        <label>Create Link</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>CheckAssigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL.value</elementReference>
            </value>
        </inputAssignments>
        <object>Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tag_Associtation</name>
        <label>Create Tag Associtation</label>
        <locationX>374</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Insert_Tags</targetReference>
        </connector>
        <inputAssignments>
            <field>Link__c</field>
            <value>
                <elementReference>Create_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <elementReference>Insert_Tags</elementReference>
            </value>
        </inputAssignments>
        <object>TagAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_Link</name>
        <label>Add Link</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Link</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>URL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Tags</name>
            <choiceReferences>tagsSelectList</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>none</stringValue>
            </defaultValue>
            <fieldText>Tags</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Link</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedTags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleTagValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TagsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempAssignedTags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
